.payment-label {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    border: 1px solid #d2d2d7;
    border-radius: 12px;
    margin-bottom: 12px;
    transition: 0.2s;
}

.payment-label:hover {
    border-color: #0071e3;
    background: #fbfbfd;
}

.payment-label input {
    margin-right: 15px;
    width: 20px;
    height: 20px;
}